.talentpool-sidebar, .talent-sidebar {
    width:30%; 
    float:left;
}

.talentpool-content, .talent-content {
    width:70%; 
    float:right;
}

.talentpool-content p {
    word-wrap: break-word;
}

#skill-categories {
    list-style: none;
    padding: 0;
}

#main-people-mosaic ul, #people-mosaic-widget ul{
    list-style: none;
}

#main-people-mosaic li, #people-mosaic-widget li{
    display: block;
    float: left;
}

.talent-small-photo {
    height : 75px;
     width : 50px;
}