<!doctype html public "-//w3c//dtd html 4.01//en">
<html>
<head>
<title></title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/talent_pool.css" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery/jquery.form.js"></script>
<script src="{{ STATIC_URL }}js/talent_pool.js"></script>

<style type="text/css">
div.clear {
    clear: both;
    visibility: hidden;
    display: none;
}
</style>
</head>
<body>
<div id="main" style="width: 1024px; margin: 0 auto;">
{% block content %}
{% endblock %}
</div>
</body>
</html>


